@use "@angular/material" as mat;
@use "../styles/fluv-layout.scss" as layout;
@use "../styles/variables.scss" as tokens;

:host {
  // mat-sidenav-container {
  //   @include layout.content-grid();
  // }
  mat-sidenav {
    @include mat.sidenav-overrides(
      (
        container-shape: 0,
        container-background-color: tokens.$base-surface,
        container-width: 20rem,
      )
    );
  }

  .container {
    // App structural layout: header/main/footer rows
    @include layout.app-structure-grid();

    .header {
      grid-row: header;
    }

    .main {
      grid-row: main;
      @include layout.content-padding();
    }

    .footer {
      grid-row: footer;
    }
  }
}
