<mat-toolbar>
  <mat-toolbar-row class="toolbar-content">
    <div class="icon">
      <img src="assets/logo/logo.png" alt="Logo" class="logo" />
    </div>

    @if (isDesktop()) {
      <fluv-group gap="md">
        @for (navButton of navButtonConfigs(); track navButton.label) {
          <fluv-nav-button [navConfig]="navButton"></fluv-nav-button>
        }
      </fluv-group>
    } @else {
      <fluv-nav-button
        [navConfig]="menuIcon"
        ariaLabel="Menu"
        (click)="toggleMenu()"
      />
    }
  </mat-toolbar-row>
</mat-toolbar>

<!-- @if (!isDesktop()) {
  <fluv-sidenav
    [menuItems]="menuItems()"
    [isOpen]="isMobileMenuOpen()"
    (closed)="isMobileMenuOpen.set(false)"
  />
} -->
