@use "@angular/material" as mat;
@use "fluv-layout" as layout;
@use "variables" as tokens;

:host {
  display: block;
  @include mat.toolbar-overrides(
    (
      container-background-color: tokens.$fluv-primary-50,
    )
  );

  .toolbar-content {
    display: flex;
    justify-content: space-around;
  }

  .logo {
    width: 13rem;
  }
}
