@use "@angular/material" as mat;
@use "@styles/fluv-layout.scss" as layout;
@use "variables" as tokens;

:host {
  display: block;
  @include layout.span-all-columns();
  @include mat.toolbar-overrides(
    (
      container-background-color: tokens.$fluv-primary-50,
    )
  );

  .toolbar-content {
    display: flex;
    justify-content: space-between;
    @include layout.content-padding();
  }

  .logo {
    width: 13rem;
  }
}
