// navbar-mobile/navbar-mobile.component.scss
.sidenav-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1000;
}

.menu-item,
.submenu-item {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
}

.submenu-item {
  padding-left: 2rem;
}
