<p>home works!</p>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button class="tertiary">Basic</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button color="primary">Basic</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <button
        mat-flat-button
        color="primary"
        aria-label="Example icon button with a open in new tab icon"
      >
        <mat-icon svgIcon="fluv:repeat" color="white"></mat-icon>
        hello
      </button>
    </div>
  </div>
</section>
