@use "@angular/material" as mat;
@use "./styles/fluv-theme-typography.scss" as *;
@use "fluv-layout" as layout;
@use "./styles/variables.scss" as tokens;

:root {
  // --fluv-body-large-size: 10px;
  --fluv-gutter: #{layout.gutter("sm")};

  // spacing tokens
  --spacing-none: #{layout.spacing(0)};
  --spacing-xs: #{layout.spacing(1)};
  --spacing-sm: #{layout.spacing(2)};
  --spacing-md: #{layout.spacing(4)};
  --spacing-lg: #{layout.spacing(6)};
  --spacing-xl: #{layout.spacing(8)};
  --spacing-xxl: #{layout.spacing(12)};

  @include mat.theme($fluv-theme-config);
  @include mat.typography-hierarchy($fluv-theme);
  @include mat.system-level-colors($fluv-theme);
  @include mat.system-level-typography($fluv-theme);

  @include layout.respond-to(md) {
    --fluv-gutter: #{layout.gutter("md")};
  }
  @include layout.respond-to(lg) {
    --fluv-gutter: #{layout.gutter("lg")};
  }
  @include layout.respond-to(xl) {
    --fluv-gutter: #{layout.gutter("xl")};
  }

  // icon overrides
  .mat-icon {
    font-size: 24px;
    height: 24px;
    width: 24px;

    @include mat.icon-overrides(
      (
        color: tokens.$fluv-primary-40,
      )
    );
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> makes 1rem = 10px, 16px is the default
}
body {
  margin: 0;
  background-color: tokens.$fluv-contrast-95;
}

// div {
//   font-size: var(--fluv-body-large-size);
// }
