@use "@angular/material" as mat;
@use "@styles/fluv-theme-colors.scss" as colors;

:host {
  display: block;
  height: 100%;
  padding: var(--spacing-xl);

  .expand-button {
    mat-icon {
      transition: transform 0.3s ease;

      @include mat.icon-overrides(
        (
          color: colors.$base-control,
        )
      );

      &.expanded {
        transform: rotate(90deg);
      }
    }
  }
}
